* {
    padding: 0;
    margin: 0;
}

/* POSTING */
.posting {
    float: right;
    padding: 10px;
    background: lightgray;
}
.posting__title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.posting__form {
    margin-top: 15px;
}
.posting__send {
    margin-top: 15px;
    border: none;
    color: white;
    background-color: gray;
    padding: 5px 6px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.posting-destinations__item,
.post__destination {
    padding: 3px 5px;
    background: gray;
    font-weight: bold;
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
}
.posting-destinations__remove {
    display: inline-block;
    content: '×';
    cursor: pointer;
    margin-left: 5px;
}
/* POSTING - END */

.content {
    overflow: hidden;
}

.thread,
.post {
    border-bottom: 1px solid gray;
    padding: 10px;
}
.thread__op,
.post__content {
    border: none;
    width: 100%;
}
.thread__reply-wrapper {
    text-align: center;
}
.post__reply-wrapper {
    text-align: right;
}
.thread__reply,
.post__reply,
.return-to-thread-list {
    font-weight: bold;
    font-size: 20px;
    color: #00008B;
    cursor: pointer;
}
.thread__reply:hover,
.return-to-thread-list:hover,
.post__reply:hover {
    text-decoration: underline;
}