<script type="underscore/template" id="thread">
    <div class="thread">
        <iframe class="thread__op" src="http://telegra.ph/<%= thread.op.telegraph_slug %>"></iframe>
        <div class="thread__reply-wrapper">
            <span class="thread__reply">Ответить</span>
        </div>
    </div>
</script>

<script type="underscore/template" id="post">
    <div class="post">
        <div>POST ID: <%= post.pk %></div>
        <div class="post__destinations">
            <% for (var i = 0; i < post.destinations.length; ++i) { %>
            <% var destination = post.destinations[i]; %>
                <div class="post__destination"><%= destination %></div>
            <% } %>
        </div>
        <iframe class="post__content" src="http://telegra.ph/<%= post.telegraph_slug %>"></iframe>
        <div class="post__reply-wrapper">
            <span class="post__reply">Ответить</span>
        </div>
    </div>
</script>

<script type="underscore/template" id="reply-destination">
    <div class="posting-destinations__item">
        <%= destination_pk %>
        <span class="posting-destinations__remove">×</span>
    </div>
</script>