{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Graph channel</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="{% static 'web_client/js/index.js' %}"></script>
        {% include 'client_templates.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'web_client/css/index.css' %}">
    </head>
    <body>
        <div class="posting">
            <div class="posting__title">Создать тред/пост</div>
            <div class="posting-destinations">
            </div>
            <div class="posting__form">
                Slug записи из телеграфа <input type="text" class="posting__telegraph-slug">
            </div>
            <button class="posting__send">Отправить</button>
        </div>
        <div class="content">
        </div>
    </body>
</html>